@font-face {
    font-family: 'CODE';
    src: url(/fonts/CODE.woff) format('woff');
  }
  @font-face {
    font-family: 'CODE Light';
    src: url(/fonts/CODELight.woff) format('woff');
  }
  :root{
    --bg-primary-color : aliceblue;
    --button-text-primary-color :  white;
    --font-primary-color : rgba(0, 0, 0, 0.445);
    --font-color-p :  rgba(0, 0, 0, 0.849);
    --button-bg-color-primary :  black;
    --button-bg-color-secondary : rgba(0, 0, 0, 0.178);
    --button-red-bg-color : rgba(255, 0, 0, 0.61);
  } 
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
  }
  button{
    font-size : 1.5rem;
    color : var(--font-primary-color);
    padding : 0.4em;
    width : 90%;
    margin : auto 0.6em;
    background-color : var(--button-bg-color-primary);
    color : var(--button-text-primary-color);
    transition: 0.3s ease-in-out;
    border: none;
    transform: scale(1);
  }
  .show-info{
    display : inline-block;
    background-color : black;
    border: 3px solid black;
    cursor: pointer;
  }
  .member button:hover{
    transform: scale(1.1);
  }

body {
  background-color: #000;
  font-family: 'Courier New', Courier, monospace;
}

h1 {
    text-align: center;
    font-size: 5rem;
    font-family: 'CODE';
    padding: 4rem;
    color: white;

}
h2 {
    font-family: 'CODE' ;
    color: white;
    font-size: 2.29rem;
    grid-area: name;
    padding: 0.35%;

}
h3 {
    font-family: 'CODE' ;
    color: white;
    font-size: 1rem;
    grid-area: location;

}

p{
  font-family: 'CODE';
  color: rgb(230, 230, 230);
  grid-area: main;
  font-size: medium;
}
img {
  width: 93%;
  height: 180%;
  padding: 2% 2%;
  grid-area: image;
  border-radius: 5%;
  object-fit: cover;

}
.container{
  width : 90%;
  margin : 0 auto;
}
.about-container h1{
  font-size : 4.5rem;
  padding : 0;
  font-weight: 900;
}
.about-members{
  display : flex;
  justify-content: space-between;
  /* align-items: baseline; */
  flex-wrap: wrap;
  margin : 14px 0;
  /* margin-bottom : 20px; */
  gap : 15px;
  
}

.member-bio h2{
  text-align: center;
  font-size : 1.5rem;
  font-weight: 600;
  color : var(--font-primary-color);
  padding : .3em;
}

.member-bio h3{
  font-size : 1.2rem;
  text-align: center;
  padding : 0 0.3em;
  color : var(--font-primary-color);
}



.member{
  max-width : 450px;
  width : 30%;
  /* align-items: flex-start; */
  display : inline-block;
  margin : 2px;
  padding : 15px;
  background-color : var(--bg-primary-color);
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 0 10px 20px rgba(0,0,0,.3);
}

.member p{
  color : rgba(0, 0, 0, 0.849);
  font-size : 1.2rem;
  
}


.member .member-bio{
  align-items: center;
  display : flex;
  flex-direction: column;
  position : relative;
}
.member .member-bio img{
  width : 150px;
  border-radius: 50%;
  height : 150px;
  align-items: center;
  border: 4px solid black;
  padding : 0;
}

.show-info, .close-info{
  font-size : 1.5rem;
  color : var(--font-primary-color);
  padding : 0.5em;
  width : 90%;
  margin : 0.8em auto;
  background-color : var(--button-bg-color-primary);
  color : var(--button-text-primary-color);
  transition: 0.3s ease-in-out;
  border: none;
  transform: scale(1.1);
  text-align: center;
  cursor: pointer;
}
.close-info{
  display : block;
  width : 50%;

  margin : 0 auto;

}

.show-info:hover, .close-info:hover{
  transform : scale(1)

}




.close:hover{
  background-color : var(--button-red-bg-color);
}
.show-info:hover{
  background-color : rgba(0, 128, 0, 0.795);
}
.member-details{
  position: absolute;
  background-color : var(--bg-primary-color);
  padding : 0.5em;
  font-size : 1.5rem;
  box-shadow: 2px 14px 20px rgba(0,0,0,0.3);
  top : -80;
  left : 0;
  right : 0;
  bottom : 0;
  height : 50vh;
  visibility: hidden;
  opacity: 0;
  transition: 0.5 ease-in-out;
  transition: visibility 0s, opacity 0.5s ease-in-out;
  border-radius: 5px;
  width : 100%;
  /* margin : 0 auto; */
  margin-top : -23px;
  z-index: 1;
}


.member-details p{
  margin-bottom : 15px;
}
.memeber-details:checked + .member-details{
  visibility: visible;
  opacity: 1;
  z-index: 1;
}
 


.open-member-info{
  display : none;
}
.member button{
  cursor: pointer;
  margin-top : 0.5em;
}
.member button a{
  text-decoration: none;
  color : var(--button-text-primary-color);
}
/* #box1 {
    width: 500px;
	  height:300px;
    margin: 2%;
    padding: 2%;
    border-radius: 25px;
    float: left;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr .5fr 1fr 1fr;
    grid-template-areas: 
    "image name"
    "image location"
    "img main"
    "footer main";
    Note I change the following naming convention box1, box2.. to this
    member
} */

/* #box2 {
  width: 500px;
  height:300px;
  margin: 2%;
  padding: 2%;
  border-radius: 25px;
  float: right;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr .5fr 1fr 1fr;
  grid-template-areas: 
  "image name"
  "image location"
  "img main"
  "footer main";
} */
/* #box3 {
  width: 500px;
  height:300px;
  margin: 2%;
  padding: 2%;
  border-radius: 25px;
  float: left;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr .5fr 1fr 1fr;
  grid-template-areas: 
  "image name"
  "image location"
  "img main"
  "footer main";
} */
/* #box3 img {
  width: 75%;
  height: 180%;
  padding: 2% 2%;
  grid-area: image;
  border-radius: 5%;
  object-fit: cover;

} */

/* #box4 {
  width: 500px;
  height:300px;
  margin: 2%;
  padding: 2%;
  border-radius: 25px;
  float: right;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr .5fr 1fr 1fr;
  grid-template-areas: 
  "image name"
  "image location"
  "img main"
  "footer main";
}
#box5 {
  width: 500px;
  height:300px;
  margin: 2%;
  padding: 2%;
  border-radius: 25px;
  float: right;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr .5fr 1fr 1fr;
  grid-template-areas: 
  "image name"
  "image location"
  "img main"
  "footer main";
}
#box6 {
  width: 500px;
  height:300px;
  margin: 2%;
  padding: 2%;
  border-radius: 25px;
  float: left;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr .5fr 1fr 1fr;
  grid-template-areas: 
  "image name"
  "image location"
  "img main"
  "footer main";
} */

nav {
  display: block;
  padding: 1.5% 1.5%;
  justify-content: space-between;
  text-align: right;
  align-items: center;
}
nav>a {
  display: inline-block;
  padding: 8px 12px;
  position: relative;
  color: white;
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-family: 'Poppins', sans-serif;
}
nav>a::after {
  content: '';
  position: absolute;
  display: block;
  height: 0.12em;
  width: 0%;
  background-color: white;
  bottom: 0.2em;
  border-radius: .1em;
  left: 20%;
  right: 20%;
  transition: all ease-in-out 150ms;
}
nav>a:not([name="connect"]):hover::after {
  width: 60%;
}
#connect {
  border: solid #fff 2px;
  font-weight: 400;
  padding: 7px;
  transition: all ease-in-out 200ms;
}
#connect:hover {
  background: #fff;
  color: #000;
}
@media screen and (max-width: 1200px) {
  nav{
    padding: 2% 2%;
  }
  body {
    background-size: contain;
    background-repeat: repeat;
  }
  nav>a {
    display: block;
    text-align: center;
  }
  #box1, #box2, #box3, #box4 {
    width: 50%;
  }
}

@media screen and (max-width : 768px){
  .member{
    max-width : 450px;
    width : 45%;

  }
}

@media screen and (max-width : 540px){
  .about-container h1{
    font-size : 3.5rem;
    padding : 0;
  }
  .member{
    width : 90%;
    margin : 0 auto;

  }
}

/* @media screen and (max-width: 830px) {
  nav{
    padding: 2% 2%;
  }
  body {
    background-size: contain;
    background-repeat: repeat;
  }
  nav>a {
    display: block;
    text-align: center;
  }
  #box1, #box2, #box3, #box4 {
    width: 70%;
    float: left;
  }
}

@media screen and (max-width: 680px) {
  nav{
    padding: 2% 2%;
  }
  body {
    background-size: contain;
    background-repeat: repeat;
  }
  nav>a {
    display: block;
    text-align: center;
  }
  #box1, #box2, #box3, #box4 {
    width: 93%;
    float: left;
  }


}
@media screen and (max-width: 540px) {
  nav{
    padding: 2% 2%;
  }
  body {
    background-size: contain;
    background-repeat: repeat;
  }
  nav>a {
    display: block;
    text-align: center;
  }
  #box1, #box2, #box3, #box4 {
    width: 90%;
    float: left;
  }


} */
