@font-face {
    font-family: 'CODE';
    src: url(/fonts/CODE.woff) format('woff');
  }
  @font-face {
    font-family: 'CODE Light';
    src: url(/fonts/CODELight.woff) format('woff');
  }
  
*{
    margin: 0%;
    padding: 0%;
  }
body {

  background-color: #000;
}

h1 {
    text-align: center;
    font-size: 5rem;
    font-family: 'CODE';
    padding: 4rem;
    color: white;

}
h2 {
    font-family: 'CODE' ;
    color: white;
    font-size: 2.29rem;
    grid-area: name;
    padding: 0.35%;

}
h3 {
    font-family: 'CODE' ;
    color: white;
    font-size: 1rem;
    grid-area: location;

}

p{
  font-family: 'CODE';
  color: rgb(230, 230, 230);
  grid-area: main;
  font-size: medium;
}
img {
  width: 93%;
  height: 180%;
  padding: 2% 2%;
  grid-area: image;
  border-radius: 5%;
  object-fit: cover;

}
#box1 {
    width: 500px;
	  height:300px;
    margin: 2%;
    padding: 2%;
    border-radius: 25px;
    float: left;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr .5fr 1fr 1fr;
    grid-template-areas: 
    "image name"
    "image location"
    "img main"
    "footer main";
}

#box2 {
  width: 500px;
  height:300px;
  margin: 2%;
  padding: 2%;
  border-radius: 25px;
  float: right;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr .5fr 1fr 1fr;
  grid-template-areas: 
  "image name"
  "image location"
  "img main"
  "footer main";
}
#box3 {
  width: 500px;
  height:300px;
  margin: 2%;
  padding: 2%;
  border-radius: 25px;
  float: left;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr .5fr 1fr 1fr;
  grid-template-areas: 
  "image name"
  "image location"
  "img main"
  "footer main";
}
/* #box3 img {
  width: 75%;
  height: 180%;
  padding: 2% 2%;
  grid-area: image;
  border-radius: 5%;
  object-fit: cover;

} */

#box4 {
  width: 500px;
  height:300px;
  margin: 2%;
  padding: 2%;
  border-radius: 25px;
  float: right;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr .5fr 1fr 1fr;
  grid-template-areas: 
  "image name"
  "image location"
  "img main"
  "footer main";
}
#box5 {
  width: 500px;
  height:300px;
  margin: 2%;
  padding: 2%;
  border-radius: 25px;
  float: right;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr .5fr 1fr 1fr;
  grid-template-areas: 
  "image name"
  "image location"
  "img main"
  "footer main";
}
#box6 {
  width: 500px;
  height:300px;
  margin: 2%;
  padding: 2%;
  border-radius: 25px;
  float: left;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr .5fr 1fr 1fr;
  grid-template-areas: 
  "image name"
  "image location"
  "img main"
  "footer main";
}

nav {
  display: block;
  padding: 1.5% 1.5%;
  justify-content: space-between;
  text-align: right;
  align-items: center;
}
nav>a {
  display: inline-block;
  padding: 8px 12px;
  position: relative;
  color: white;
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-family: 'Poppins', sans-serif;
}
nav>a::after {
  content: '';
  position: absolute;
  display: block;
  height: 0.12em;
  width: 0%;
  background-color: white;
  bottom: 0.2em;
  border-radius: .1em;
  left: 20%;
  right: 20%;
  transition: all ease-in-out 150ms;
}
nav>a:not([name="connect"]):hover::after {
  width: 60%;
}
#connect {
  border: solid #fff 2px;
  font-weight: 400;
  padding: 7px;
  transition: all ease-in-out 200ms;
}
#connect:hover {
  background: #fff;
  color: #000;
}
@media screen and (max-width: 1200px) {
  nav{
    padding: 2% 2%;
  }
  body {
    background-size: contain;
    background-repeat: repeat;
  }
  nav>a {
    display: block;
    text-align: center;
  }
  #box1, #box2, #box3, #box4 {
    width: 50%;
  }
}

/* @media screen and (max-width: 830px) {
  nav{
    padding: 2% 2%;
  }
  body {
    background-size: contain;
    background-repeat: repeat;
  }
  nav>a {
    display: block;
    text-align: center;
  }
  #box1, #box2, #box3, #box4 {
    width: 70%;
    float: left;
  }
}

@media screen and (max-width: 680px) {
  nav{
    padding: 2% 2%;
  }
  body {
    background-size: contain;
    background-repeat: repeat;
  }
  nav>a {
    display: block;
    text-align: center;
  }
  #box1, #box2, #box3, #box4 {
    width: 93%;
    float: left;
  }


}
@media screen and (max-width: 540px) {
  nav{
    padding: 2% 2%;
  }
  body {
    background-size: contain;
    background-repeat: repeat;
  }
  nav>a {
    display: block;
    text-align: center;
  }
  #box1, #box2, #box3, #box4 {
    width: 90%;
    float: left;
  }


} */
