:root{
  --blue: #2d8fc8;
}
*{
  margin: 0;
  padding: 0;
}
html{
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
}
header img{
  object-fit: contain;
  width: 100%;
  margin-top: -10%;
}
nav{
  display: flex;
  padding: 1.5% 1.5%;
  justify-content: space-between;
  align-items: center;
  background: #000;
}
.nav-links{
  flex: 1;
  text-align: right;
}
.nav-links ul li{
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
nav a{
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}
nav a::after{
  content: '';
  position: absolute;
  display: block;
  height: 0.12em;
  width:0%;
  background-color: #fff;
  bottom: 0.2em;
  border-radius: .1em;
  left: 20%;
  right: 20%;
  transition: all ease-in-out 150ms;
}
nav a:not([name="connect"]):hover::after{
  width: 60%;
}
#connect{
  border: solid #fff 2px;
  font-weight: 400;
  padding: 7px;
  transition: all ease-in-out 200ms;
}
#connect:hover{
  background: #fff;
  color: #000;
}
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}
section{
  position: relative;
  padding: 30px 100px;
}
h1{
  font-weight: 600;
  margin-bottom: 10px;
  font-size: 30px;
}
p{
  line-height: 1.7;
  font-weight: 300;
}
article{
  margin: 30px;
  margin-top: 3%;
  margin-bottom: 2%;
}
article p{
  font-size: 17px;
}
footer {
  font-size: 12px;
  text-align: center;
  line-height: 2;
  padding: 25px;
}
footer a{
  color: #000;
  transition: all ease-in-out 180ms;
}
footer a:hover{
  color: var(--blue);
}
.social-links{
  font-size: 15px;
  margin-top: 2%;
  margin-bottom: 2%;
}
/* Responsiveness */
@media screen and (max-width: 830px) {
  section{
    padding: 30px 10px;
  }
}
@media screen and (max-width: 680px) {
  nav{
    padding: 2% 2%;
  }
  header img{
  margin-top: 0;
  }
  .nav-links{
    text-align: center;
  }
  section{
    padding: 30px 5px;
  }
}