body {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 90vh 10vh;
  background-color: #FFF;
  font-family: "Lato", sans-serif;
}
main {
  grid-area: 1 / 1 / 2 / 2;
}
footer {
  grid-area: 2 / 1 / 3 / 2;
  padding: 1vw;
  font-size: 1.8vw;
  font-weight: bold;
  color: #AAA;
}
footer>nav {
  float: right;
  height: 100%;
}
footer>nav>button {
  font-size: x-large;
  margin-right: 1vw;
}
section {
  display: none;
  font-size: 2.4vw;
  margin: 2vw;
}
section>h2 {
  color: #478AC7;
  text-align: center;
  font-size: 3.5vw;
}
section>h3 {
  color: #00ABF0;
  text-align: center;
  font-size: 2.8vw;
}
section>h4 {
  color: #174A68;
  text-align: center;
  font-size: 2.8vw;
}
section>p {
  color: #02689C;
  font-size: 2.8vw;
}
section>ul {
  margin-left: 10vw;
}
section>ul>li {
  margin-top: 1vw;
}
div.col2 {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  margin: -1vw 3vw 1vw 3vw;
  font-size: 2vw;
}
a, a:visited {
  text-decoration: none;
}
#noplan1, #noplan2, #noplan3, #noplan4, #noplan5 {
  font-size: 4vw;
  font-family: Ubuntu;
  color: #00ABF0;
  visibility: hidden;
}
#noplan5 {
  color: red;
}
